*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: beige;
}
h1{
  display: flex;
  justify-content: center;
  color: blue;

}
.title{
  cursor: pointer;
}
.change{
  display: flex;
  justify-content: center;
  cursor: pointer;
}